body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position:absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.users {
  width: 200px;
  margin-right: 50px;
  text-align: center;
}

.users p {
  background-color: lightblue;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  overflow-y: auto;
}

.message, .my-message{
  width: fit-content;
  background-color: lightpink;
  padding: 10px;
  max-width: 300px;
}

.message {
  margin-left: 25px;
}

.my-message {
  background-color: lightseagreen;
  margin-right: 25px;
  align-self: flex-end;
}